/**
 * Elements
 *
 * @recommended *, html, body, article, aside, footer, header, main, menu, nav, section, summary, details, br, hr
 */

/** Body **/
html {
  overflow-x: clip;
}

[x-cloak] {
  display: none !important;
}

/** Container **/
.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1320px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
