.animated-svg {
  fill: none;

  path {
    fill: transparent;
    stroke-width: 10px;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    visibility: hidden;
  }
}

.progress-container {
  circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
  }

  .progress {
    stroke-dasharray: 0, 1;
    stroke-width: 16%;
  }
}